<form id="form-initial" onsubmit="return false;">

	<div class="form-group">
		<label>Table name:</label> <input type="text" name="table-name" #tableNameRef class="form-control" [(ngModel)]="tableName"><br>
	</div>

	<div class="form-group">
		<label>Class name:</label> <input type="text" name="class-name" class="form-control" [(ngModel)]="className"><br>
	</div>

	<div class="form-group">
		<table id="form-initial-table" #theFieldsRef>
			<thead>
				<tr>
					<td><label>FIELD NAME</label></td>
					<td><label>DATA TYPE</label></td>
				</tr>
			</thead>
			<tbody #tableBody>
				<tr *ngFor="let field of fields; let i = index">
					<td><input type="text" class="form-control" [value]="field.name"></td>
					<td><select class="form-control"><!-- keep this element in the same line to access as firstChild -->
							<option value="VARCHAR">VARCHAR</option>
							<option value="INTEGER">INTEGER</option>
							<option value="LONG">LONG</option>
							<option value="DOUBLE">DOUBLE</option>
							<option value="FLOAT">FLOAT</option>
							<option value="TIMESTAMP">TIMESTAMP</option>
						</select>
					</td>
					<td>
						<button class="btn btn-default" (click)="addField(i)">+ ADD FIELD</button>
					</td>
					<td *ngIf="i > 0">
						<button class="btn btn-default" (click)="removeField(i)">- DELETE</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="margin-top: 1.5em" style="text-align: right;"><button class="btn btn-primary" (click)="addTestData()">ADD TEST DATA</button></div>
	</div>

</form>